*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;

}

a 
{
    text-decoration: none;

}

button 
{
    cursor:pointer;
}

li 
{
    list-style-type: none;
}

p 
{
    line-height: 1.5;
}

section 
{
    background-color: rgb(245, 245, 245);
}

.click 
{
    transition: all 300ms ease;
}

.click:hover 
{
    transform: scale(1.1);
}

.click:active
{
    transform: scale(0.8);
}

/* LANDING PAGE */


#landing-page 
{
    min-height: 100vh;
}

.header 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.header__para 
{
    font-size: 24px;
    line-height: 2;
    max-width: 450px;
}

.social__list 
{
    margin-top: 16px;
    display: flex;
}

.social__link 
{
    background-color: rgb(108, 185, 53);
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}

.mail__btn 

{
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border:none;
    background-color: rgb(108, 185, 53);
    color: white;
    bottom: 32px;
    right: 40px;
    position: absolute;
}

.navi
{
    width: 100px;
    height: 100px;
}

.about-logo
{
    width: 34px;
    height: 34px;
}
.title 
{
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}


.green
{
    color: rgb(108, 185, 53) !important;
}

/* NAVIGATION */

nav 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

.nav__link--list 
{
    display: flex;
}

#personal-logo 
{
    width: 50px;
    height: 50px;
    /*filter: invert(1);*/
}

.nav__link 
{
    margin: 0 12px;
}

.nav__link--anchor 
{
    font-size: 10px;
    color: #242424;
    font-size: 22px;
}

.fa-toggle-off 
{
    font-size: 22px;
}