*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;

}





li 
{
    list-style-type: none;
}

section 
{
    background-color: rgb(245, 245, 245);
}

/* LANDING PAGE */


#landing-page 
{
    min-height: 100vh;
}

.header 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
}

.title 
{
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.title--secondary
{
    color: rgb(108, 185, 53) !important;
}

/* NAVIGATION */

nav 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

.nav__link--list 
{
    display: flex;
}

#personal-logo 
{
    width: 50px;
    height: 50px;
    /*filter: invert(1);*/
}

.nav__link 
{
    margin: 0 12px;
}

.nav__link--anchor 
{
    text-decoration: none;
    font-size: 10px;
    color: #242424;
    font-size: 22px;
}

.fa-toggle-off 
{
    font-size: 22px;
}